*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url("images/back1.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(219, 153, 106);
}
header img{
    width: 4%;
    padding: 1%;

}

.main{
    text-align: center;
    background-color: seashell;
    margin: 30px 450px;
    height: 600px;
    overflow-y: scroll;
}

h1{
    padding: 20px 0;
}

.inp{
    padding: 10px 60px;
}

input{
    margin: 5px 0;
    background-color: seashell;
    border: none;
    width: 100%;
    font-size: large;
}

input:focus,
.btnTodo:focus,
.liBtn:focus{
    outline: none;
}

.btnTodo{
margin: 10px 10px;
width: 100px;
height: 30px;
font-weight: bold;
border: seashell;
background-color: seashell;
box-shadow: 2px 2px 2px rgb(105,105,105);
cursor: pointer;
}

.liBtn{
    margin: 10px 10px;
    width: 100px;
    height: 30px;
    font-weight: bold;
    border: seashell;
    background-color: rgb(219, 153, 106);
    box-shadow: 2px 2px 2px rgb(105,105,105);
    cursor: pointer;
    }

li{
    margin: 30px 0;
    font-weight: 600;
    width: 40%;
    display: inline-block;
}




@media only screen and (max-width: 1300px){
    body{
        background-size: cover;
    }

    header img{
        width: 6%;
    }
    
    .main{
        margin: 50px 200px;
        height: 900px;
    }
    
    h1{
        padding: 20px 0;
        font-size: 50px;
    }
    
    .inp{
        padding: 10px 60px;
    }
    
    .btnTodo{
    margin: 10px 10px;
    width: 120px;
    height: 40px;
    }
    
    .liBtn{
        margin: 10px 10px;
        width: 100px;
        height: 30px;
        }
    
    li{
        margin: 30px 0;
        font-weight: 600;
        width: 40%;
        display: inline-block;
    }
    
}





@media only screen and (max-width: 1200px){
    body{
        background-size: 200%;
    }

    header img{
        width: 6%; 
    }
    
    .main{
        margin: 50px 100px;
        height: 900px;
    }
}


@media only screen and (max-width: 700px){
    body{
        background-size: 400%;
    }
    header img{
        width: 6%; 
    }
    
    .main{
        margin: 50px 20px;
        height: 400px;
    }
    
    h1{
        padding: 20px 0;
        font-size: 20px;
    }
    
    .inp{
        padding: 10px 30px;
    }
     
     input{
        margin: 5px 0;
        width: 100%;
        font-size: small;
    }

    .btnTodo{
        font-size: 10px;
        margin: 10px 10px;
        width: 80px;
        height: 25px;
    }
    
    .liBtn{
        margin: 5px 5px;
        width: 50px;
        height: 30px;
        font-size: 10px;
        font-weight: bold;
        }
    
    li{
        margin: 30px 0;
        padding: 0%;
        font-size: 10px;
        font-weight: 700;
        width: 40%;
    }
}